
$primary-color:   #3a6351;
$secondary-color: #f58634;
$selection-color: #6b9682;
$background-color:#3f705a12;
$hover-color:#2f4d41;
$base-color: #112015;
$footer-text-color:#ffffffc5;
$opacity: 0.6;
$overlay-color: rgba($base-color, $opacity);
$head-color: #1d1d35;
$text-color: #555555;
$size-radius:4px;
$main-shadow: 0 3px 6px 0 #151f2b0d;
$main-padding: 70px 0;
$main-light-height:25px;
$time-transition: all .3s ease; 